body {
    background: #76b852;
    background: -webkit-linear-gradient(right, #76b852, #8DC26F);
    background: -moz-linear-gradient(right, #76b852, #8DC26F);
    background: -o-linear-gradient(right, #76b852, #8DC26F);
    background: linear-gradient(to left, #76b852, #8DC26F);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    text-align: center;
    color: #328135;
}

.g-recaptcha {
    margin-bottom: 10px;
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
}

.alert-danger {
    color: #721c24;
    background-color: #da9797;
    border-color: #f5c6cb;
}

.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.radio {
    display: inline;
    white-space: nowrap;
}

p.radio, .radio label {
    color: #6d6d6d;
}

div.radio div, div.radio input {
    display: inline;
    margin-right: 20px;
}

.center {
    margin-left: 350px;
}

.snap-save {
    margin-left: 170px;
}

.profile {
    text-align: center;
    font-size: 16px;
    background-color: white;
    width: 400px;
    padding: 30px;
    margin: auto;
    color: #336f38;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.profile button {
    width: 100px;
}

.profile a, .alert a {
    color: #4CAF50;
    margin-bottom: 20px;
}

.profile div {
    margin-bottom: 20px;
}

.profile input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    height: 30px;
    background: #f2f2f2;
    width: auto;
    border: 0;
    box-sizing: border-box;
    font-size: 14px;
}

.profile #label-email input {
    width: 300px;
}

.profile input[type='radio'] {
    width: 20px;
    height: auto;
    background: none;
}

.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.site-content {
    flex: 1;
}

footer {
    text-align: center;
    color: #fff;
    padding: 30px;
    background-color: #388e3c87;
}

